audioread==2.1.5
cachetools==2.0.1
chardet==3.0.4
click==6.7
colorama==0.2.5
command-not-found==0.3
decorator==4.3.0
Flask==1.0.2
google-auth==1.4.1
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
html5lib==0.999
itsdangerous==0.24
Jinja2==2.10
joblib==0.11
language-selector==0.1
librosa==0.6.0
llvmlite==0.23.0
MarkupSafe==1.0
numba==0.38.0
numpy==1.14.0
Pillow==5.0.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycurl==7.19.3
pydub==0.21.0
pygobject==3.12.0
python-apt===0.9.3.5ubuntu2
pytz==2018.4
PyYAML==3.12
requests==2.2.1
resampy==0.2.0
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.1.0
six==1.5.2
tqdm==4.23.2
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
Werkzeug==0.14.1
